@import 'material-design-lite';

.layout-transparent {
  position: relative;
  background: url('../img/safranstreet.jpg') center / cover;
}

.mdl-grid {
  position: absolute;
  margin-top: 10rem;
  margin-left: 5rem;
  list-style: none;
  border-radius: 3px;
  background: white;
  color: black;
  box-shadow: 0 8px 6px -6px black;
}

.menu-header {
  margin-top: 0;
  padding: 6px;
  border-bottom: 2px solid black;
}

.admin-btns {
  margin: 10px;
}

.order-detail {
  padding: 10px;
  color: white;
}

.new-form, .edit-form {
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 50%;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px black;
}

.new-form-sub {
  margin-left: 10px;
}

.add-to-btn {
  float: right;
}
