<div class="admin-btns">
  {{#link-to 'admin.menu-items.new'}}
    {{mdl-button isRaised=true text='Edit Menu' isAccent=true}}
  {{/link-to}}
  {{#link-to 'admin.orders.index'}}
    {{mdl-button isRaised=true text='View Orders' isAccent=true}}
  {{/link-to}}
</div>
{{outlet}}
