<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col white-text">
    <h2 class="menu-header">Delivery Menu</h2>
    {{#group-categories items=model class="menu" tagName="ul" as |category|}}
      <li>
        <h3>{{category.name}}</h3>
        <ul>
          {{#each category.items as |menuItem|}}
            {{menu-item-result menuItem=menuItem}}
          {{/each}}
        </ul>
      </li>
    {{/group-categories}}
  </div>
</div>
