<h2>Menu</h2>

{{#group-categories items=model class="menu" tagName="ul" as |category|}}
  <li>
    <h3>{{category.name}}</h3>
    <ul>
      {{#each category.items as |menuItem|}}
        {{menu-item-result menuItem=menuItem}}
      {{/each}}
    </ul>
  </li>
{{/group-categories}}
