<div class="main-menu">
  <h2 class="menu-header">Seasonal Menu</h2>
  {{#group-categories items=model class="menu" tagName="ul" as |category|}}
    <li class="category">
      <h3 class="category-name">{{category.name}}</h3>
      <ul class="item-description">
        {{#each category.items as |menuItem|}}
          {{menu-item-result menuItem=menuItem}}
        {{/each}}
      </ul>
    </li>
  {{/group-categories}}
</div>

{{order-sidebar}}
