
<h2>Menu</h2>

{{#group-categories items=model class="menu" tagName="ul" as |category|}}
  <li>
    <h3>{{category.name}}</h3>
    <ul>
      {{#each category.items as |menuItem|}}
        {{menu-item-result menuItem=menuItem}}
      {{/each}}
    </ul>
  </li>
{{/group-categories}}

{{#group-categories items=model class="menu" tagName="ul" as |category|}}
  <li>
    <h3>{{category.name}}</h3>
    <ul>
      {{#each category.items as |menuItem|}}
        {{menu-item-result menuItem=menuItem}}
      {{/each}}
    </ul>
  </li>
{{/group-categories}}

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Appetizers</th>
      <th></th>
      <th>Unit price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Plateau De Charcuterie Maison</td>
      <td></td>
      <td>$12.00</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Escargots De Bourgogne</td>
      <td></td>
      <td>$10.00</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Pomme Frites and Fresh Herbs</td>
      <td></td>
      <td>$6.00</td>
    </tr>
  </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Entrees</th>
      <th></th>
      <th>Unit price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Lobster Bisque En Croûte</td>
      <td></td>
      <td>$12.90</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Bœuf Bourguignon</td>
      <td></td>
      <td>$18.25</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Gratin De Macaroni Fromages</td>
      <td></td>
      <td>$13.00</td>
    </tr>
  </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Drinks</th>
      <th></th>
      <th>Unit price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Red Red Wine</td>
      <td></td>
      <td>$6.00</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Coca-Cola</td>
      <td></td>
      <td>$2.25</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Iced Tea</td>
      <td></td>
      <td>$1.00</td>
    </tr>
  </tbody>
</table>
