{{#mdl-nav title='Krusty Krab' fixedHeader=true}}
  {{mdl-nav-item name='Buttons'   route='buttons'}}
  {{mdl-nav-item name='Tabs'      route='tabs'}}
  {{mdl-nav-item name='Nav'       route='navs'}}
  <div class="mdl-grid">
  	<div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-grid">
      	<div class="mdl-cell mdl-cell--12-col">
          <div data-role="order-detail">
            <div data-role="order-detail__total">$40.00</div>
            <div data-role="order-detail-order-item">
              <div data-role="order-detail-order-item__name">Krabby Patty</div>
            </div>
            <div data-role="order-detail-order-item"></div>
          </div>
          <div data-role="order-detail">
            <div data-role="order-detail__total">$10.00</div>
            <div data-role="order-detail-order-item">
              <div data-role="order-detail-order-item__name">Jelly Patty</div>
            </div>
            <div data-role="order-detail-order-item"></div>
          </div>
          <div data-role="order-detail">
            <div data-role="order-detail__total">$20.00</div>
            <div data-role="order-detail-order-item">
              <div data-role="order-detail-order-item__name">Pretty Patty</div>
            </div>
            <div data-role="order-detail-order-item"></div>
          </div>
    	  </div>
      </div>

	</div>
  </div>
{{/mdl-nav}}
