<div class="order-detail">
  {{#each model as |orders|}}
    <li>
      <div class="order-detail__total">{{order.total}}</div>
      <div class="order-detail-order-item">
        <div class="order-detail-order-item__name">{{order.name}}</div>
      </div>
      {{link-to "Index" "admin.orders" value class="orders-list"}}
    </li>
  {{/each}}
</div>
