
<div data-role="order-detail">
  <div data-role="order-detail__total">$10.00</div>
  <div data-role="order-detail-order-item">
    <div data-role="order-detail-order-item__name">Fries</div>
  </div>
  <div data-role="order-detail-order-item"></div>
</div>
<div data-role="order-detail">
  <div data-role="order-detail__total">$10.00</div>
  <div data-role="order-detail-order-item">
    <div data-role="order-detail-order-item__name">Fries</div>
  </div>
  <div data-role="order-detail-order-item"></div>
</div>
<div data-role="order-detail">
  <div data-role="order-detail__total">$10.00</div>
  <div data-role="order-detail-order-item">
    <div data-role="order-detail-order-item__name">Fries</div>
  </div>
  <div data-role="order-detail-order-item"></div>
</div>
