<div data-role="order-detail">
  <div data-role="order-detail__total">$40.00</div>
  <div data-role="order-detail-order-item">
    <div data-role="order-detail-order-item__name">Steak Sammy</div>
  </div>
  <div data-role="order-detail-order-item"></div>
</div>
<div data-role="order-detail">
  <div data-role="order-detail__total">$10.00</div>
  <div data-role="order-detail-order-item">
    <div data-role="order-detail-order-item__name">Truffle Fries</div>
  </div>
  <div data-role="order-detail-order-item"></div>
</div>
<div data-role="order-detail">
  <div data-role="order-detail__total">$20.00</div>
  <div data-role="order-detail-order-item">
    <div data-role="order-detail-order-item__name">Atom Bomb</div>
  </div>
  <div data-role="order-detail-order-item"></div>
</div>
