{{#mdl-nav title='Sans Souci Cafe' fixedHeader=true transparent=true class='layout-transparent' }}
  {{mdl-nav-item name='Chat Now' route=''}} {{mdl-nav-item name='Sign Up' route=''}} {{mdl-nav-item name='Log In' route=''}} {{mdl-nav-item name='My Cart' route=''}}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col white-text">
      <div data-role="order-detail">
        <div data-role="order-detail__total">$40.00</div>
        <div data-role="order-detail-order-item">
          <div data-role="order-detail-order-item__name">Steak Sammy</div>
        </div>
        <div data-role="order-detail-order-item"></div>
      </div>
      <div data-role="order-detail">
        <div data-role="order-detail__total">$10.00</div>
        <div data-role="order-detail-order-item">
          <div data-role="order-detail-order-item__name">Truffle Fries</div>
        </div>
        <div data-role="order-detail-order-item"></div>
      </div>
      <div data-role="order-detail">
        <div data-role="order-detail__total">$20.00</div>
        <div data-role="order-detail-order-item">
          <div data-role="order-detail-order-item__name">Atom Bomb</div>
        </div>
        <div data-role="order-detail-order-item"></div>
      </div>
    </div>
  </div>
{{/mdl-nav}}
